@font-face {
  font-family: "Mona Sans Black";
  src: local("Mona Sans"), url("../src/fonts/monasans/MonaSans-Black.otf")
    format("opentype");
}

@font-face {
  font-family: "Mona Sans Bold";
  src: local("Mona Sans"), url("../src/fonts/monasans/MonaSans-Bold.otf")
    format("opentype");
}
@font-face {
  font-family: "Mona Sans ExtraBold";
  src: local("Mona Sans"), url("../src/fonts/monasans/MonaSans-ExtraBold.otf")
    format("opentype");
}

@font-face {
  font-family: "Mona Sans Light";
  src: local("Mona Sans"), url("../src/fonts/monasans/MonaSans-Light.otf")
    format("opentype");
}

@font-face {
  font-family: "Mona Sans Medium";
  src: local("Mona Sans"), url("../src/fonts/monasans/MonaSans-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: "Mona Sans Regular";
  src: local("Mona Sans"), url("../src/fonts/monasans/MonaSans-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Mona Sans SemiBold";
  src: local("Mona Sans"), url("../src/fonts/monasans/MonaSans-SemiBold.otf")
    format("opentype");
}

@font-face {
  font-family: "Supreme Spike";
  src: local("Supreme Spike"), url("./fonts/supremespike/SupremeSpike.otf")
    format("opentype");
}

:root {
  /* color */
  --color-primary: #000;
  --color-secondary: #f77908;
  --color-secondary-hover: #fa9f4f;
  --color-secondary-active: #fcc595;
  --text-color: #fdfdfd;
  --box-bg-color: #fdfdfd;
  --lightWhite: rgba(225, 225, 225, 0.496);
  --box-bg-border-color: #ddd;
  --red: #641220;
  --redHover: #a71e34;
  --redActive: #e01e37;
  --grayMiddle: rgba(128, 128, 128, 0.323);
  --gray: gray;
  --grayDarker: rgb(167, 165, 165);
  --grayLight: rgba(156, 156, 156, 0.294);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
label,
input,
textarea {
  font-family: "Mona Sans Regular", sans-serif;
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: inherit;
}
