.ship-highlight {
  position: relative;
  height: 100vh;
}
.ship-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  overflow-x: hidden;
}
.ship-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #fdfdfd;
  position: absolute;
  width: 100vw;
  top: 100px;
}
.ship-txt > h2 {
  font-size: 3rem;
}
.ship-txt > p {
  font-size: 1.5rem;
}
.button-group {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  bottom: 70px;
  gap: 4rem;
  padding: 0 2rem 0 2rem;
}
button {
  border-style: none;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  font-weight: bold;
}
.button-rent {
  color: #fdfdfd;
  background-color: #f77908;
}
