.main-content {
  height: 100vh;
}

.text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  color: var(--text-color);
  top: 100px;
}

.ship-brand {
  letter-spacing: 1rem;
  text-indent: 1rem;
  position: relative;
  top: 0.5rem;
}

.buttons-wrapper {
  width: 100%;
  position: absolute;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
