.btnBooked {
  background-color: #f77908;
  color: #000;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 150px;
  height: 30px;
  font-family: Mona-sans, sans-serif;
  font-weight: bold;
  font-size: 13px;
  transition: .35s ease-in-out;
  &:hover {
    background-color: #033a59;
    color: #fdfdfd;
  }
}

.BtnMoreInformations {
  background-color: #fdfdfd;
  color: #000;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 150px;
  height: 30px;
  font-family: Mona-sans, sans-serif;
  font-weight: medium;
  font-size: 13px;
  transition: .35s ease-in-out;
  &:hover {
    background-color: #033a59;
    color: #fdfdfd;
  }
}
