.BtnMoreInformations,
.btnBooked {
  height: 30px;
  width: 150px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-family: Mona-sans, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #000;
  transition: 0.35s ease-in-out;

  &:hover {
    background-color: #033a59;
    color: #fdfdfd;
  }
}
.btnBooked {
  background-color: #f77908;
}

.BtnMoreInformations {
  background-color: #fdfdfd;
}
