.section-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.register-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--grayMiddle);
  border-radius: 4px;
}
