.ship-card {
  position: relative;
  height: 30rem;
  width: 22rem;
  border-radius: 15px;
  overflow: hidden;
  &&:hover {
    transition: 0.2s ease-in;
    outline: 5px solid var(--gray);
    outline-offset: 5px;
  }
  .BtnMoreInformations,
  .btnBooked {
    height: 20px;
    border-radius: 7px;
  }
}
.infos-top {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
}
.logo-name-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  height: 4.5rem;
  gap: 1rem;
  padding-inline: 1rem;
}
.logo-manufacturer {
  height: 2.5rem;
  width: 2.5rem;
}

.ship-card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ship-name {
  font-family: "Supreme Spike", sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
  text-align: center;
  color: var(--text-color);
}
.wrapper-logos {
  display: flex;
  width: fit-content;
  flex-direction: column;
  top: 4rem;
  left: 1rem;
  gap: 0.7rem;
}
.ship-infos {
  display: flex;
}
.icon-info {
  display: flex;
  background-color: var(--color-secondary);
  border-radius: 10px;
  margin-inline: 0.5rem;
  padding-inline: 0.3rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.quantity-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 3.7rem;
}
.ship-quantity {
  color: var(--text-primary);
  padding-inline: 0.5rem;
  background-color: var(--color-secondary);
  border-radius: 10px;
}
.btn-wrapper {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.prices-info {
  width: 100%;
  font-size: small;
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
  color: var(--text-color);
}
.prices-info > p:last-child {
  color: var(--grayDarker);
}
.prices-info > p:first-child {
  color: var(--text-color);
}
